.userbody{
  display: flex;
}
.user-card{
  width: 70%;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
}
.logo{
  width: 200px;
  height: 150px;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
